.post {
	position: relative;
	margin: 40px 0px;
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.delete {
	cursor: pointer;
	top: 10px;
	right: 10px;
	position: absolute;
	height: 30px;
	width: 30px;
}

.delete__img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center center;
}

.post__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.post__date {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.post__img-wrap {
	display: flex;
	justify-content: center;
	width: 100%;
}
.post__img {
	height: 100%;
	width: 50%;
	border-radius: 10px;
	object-fit: contain;
	object-position: center center;
}
.post__text {
	display: flex;
	flex-direction: column;
}
